<!doctype html>
  <html>
    <head>
      <title>404 Not Found</title>
    </head>
    <body>
	<section class="not_found_search">
		<div class="not_found">
			<span> 404 not found</span>
			<div>
				<strong>Ops<em>!</em></strong>
				<p>Sentimos muito. A pagina solicitada 
				não está mais entre nós.</p>
			</div>
		</div>
		<div class="app_download">
			<p><strong>Baixe grátis </strong>nosso app para Android e IOS</p>
			<div>
				<a href="" alt="google play">
					<img src="../../assets/img/_google_play.png">
				</a>		
				<a href="" alt="App store">
					<img src="../../assets/img/_app_store.png">
				</a>
			</div>	
		</div>
		<article>
			Nós da Multifarmas estamos trabalhando diariamente para porporcionar o melhor acervo de descontos 
			em remédios para você e esperamos em breve atender a sua pesquisa!
		</article>
	</section>
    </body>
</html>