<header ng-include src="'app/views/header/header.html'"></header>
<div class="row">
	<div class="col-sm-12">
			<div class="container-fluid search-bar">
				<!-- <div class="row">
					<div class="col-sm-12 submenu center">
						<span>Qual o tipo de veículo que você precisa?</span>
						<ul>
							<li ng-repeat="link in links">
								<a href="{{link.link}}">{{link.descricao}}</a>
							</li>
						</ul>
					</div> 
				</div>	-->

			</div>
		</div>
		<div class="col-sm-12">
			<div class="container container-carreto">
				<div class="row">
					<div class="col-sm-4" ng-repeat="item in items" >
						<div class="box-carreto">
							<div class="row">
								<div class="col-sm-2">
									<img src="{{item.thumb == null ? 'images/trunk.png' : item.thumb}}" class="icon-companie">
								</div>
								<div class="col-sm-10 name-companie">
									<div class="row">
										<div class="col-sm-12">
											<a ui-sref="companiesDetail({slug : item.slug})" ng-click="ga('VER DETALHES DO ' + item.name)"> {{item.name}}</a>
										</div>
										<div class="col-sm-12 contacts-companies t5">
											<span class="glyphicon glyphicon-envelope" aria-hidden="true" ></span> 
											<span>{{item.slug | limitTo:item.size}}</span>
										</div>
										<div class="col-sm-12 contacts-companies">
											<span class="glyphicon glyphicon-signal" aria-hidden="true" ></span> 
											<span>{{item.slug | limitTo:item.size}}</span>
											<button class="btn btn-ver-dados" ng-hide="item.size == 100" ng-click="item.size = 100; ga('VER DADOS DO ' + item.name)">VER DADOS</button> 
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-12">
						<button class="btn btn-block btn-ver-mais" ng-click="seeMore()">VER TODOS</button>
					</div>
				</div>
				<div class="main">


					<div class="text-divider">
					 	<h2 class="center">O que é o MeuCarreto?</h2>
					</div>
					<p class="text-default">		
						É a ferramenta que facilita a vida de quem precisa transportar algo de tamanho intermediário, não necessariamente uma mudança inteira.
					</p>
					<p class="text-default">
						O Meucarreto veio para te auxiliar em pequenas mudanças, ou facilitar a entrega de um móvel ou eletrodoméstico que você possa ter vendido ou comprado de outra pessoa.  
					</p>
					<p class="text-default">
						Os parceiros do Meucarreto são profissionais autônomos, que podem emitir N.F, ou seja, você pode contrata-los também para alguma prestação de serviços a sua empresa!
					</p>

					<div class="text-divider mt50">
					 	<h2 class="center">Para você que procura um frete / carreto</h2>
					</div>
					<p class="text-default">		
						Encontre uma lista com diversos anunciantes para realizar o seu transporte, entre em contato e negocie com o anunciante.
					</p>
					
					<div class="text-divider mt50">
					 	<h2 class="center">Para você que anunciou um frete / carreto</h2>
					</div>
					<p class="text-default">		
						Mantenha seus contatos sempre atualizados para que possam contatá-lo e orçar um frete / carreto.
					</p>
					
				</div>
			</div>
		</div>
	</div>
</div>
<footer ng-include src="'app/views/footer/footer.html'"></footer>