<header ng-include src="'app/views/header/header.html'"></header>
<div class="row">
	<div class="col-sm-12">
			<div class="container-fluid search-bar">
				<div class="row">
					<div class="col-sm-12 submenu center">
						<span>Qual o tipo de veículo que você precisa?</span>
						<ul>
							<li ng-repeat="link in links">
								<a href="{{link.link}}">{{link.descricao}}</a>
							</li>
							
						</ul>
					</div>
				</div>	
			</div>
		</div>
		<div class="col-sm-12">
			<div class="container container-carreto">
				<div class="main">
					<div class="text-divider">
					 	<h2 class="center"> ENCONTRE O TRANSPORTE DESEJADO SELECIONANDO O TIPO DE CARGA ACIMA</h2>
					</div>
					<p class="text-default">
						Se você for transportadora ou possuir algum veículo para transportar qualquer tipo de carga, clique <a ui-sref="contato">aqui</a> e faça parte também! 
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<footer ng-include src="'app/views/footer/footer.html'"></footer>