
<!-- <link rel="stylesheet" href="css/css.css" type="text/css" /> -->
<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<div class="body-em-breve">
	<div class="center-em-breve">
    	<center><img src="images/meu-carreto-icone.png"></center><br>
        <h1>
        	Fique ligado!<br>
        	Estamos chegando...
       	</h1>
        <p>
            Meu Carreto é um projeto pensado para você que precisa de uma maneira rápida e fácil de encontrar transporte para qualquer tipo de carga.<br>
			Aguarde por mais novidades! 
        </p>
   </div>
   <div id="gradient2"></div>
   
   <div id="gradient" style="{{estilo}}"></div>
</div>