<header ng-include src="'app/views/header/header.html'"></header>
<div class="contact container">
	<div class="main">
		<div class="text-divider center ">
		 	<h2>Veja todos os carretos aqui</h2>
		</div>
		<div class="info">
			<div class="row">
				<div class="col-sm-4" ng-repeat="item in items" >
					<div class="box-carreto">
						<div class="row">
							<div class="col-sm-2 col-xs-3">
								<img src="{{item.thumb == null ? 'images/trunk.png' : item.thumb}}" class="icon-companie">
							</div>
							<div class="col-sm-10 col-xs-9 name-companie">
								<div class="row">
									<div class="col-sm-12">
										<a ui-sref="companiesDetail({slug : item.slug})" ng-click="ga('VER DETALHES DO ' + item.name)"> {{item.name}}</a>
									</div>
									<div class="col-sm-12 contacts-companies t5" ng-hide="item.contact.email == null">
										<span class="glyphicon glyphicon-envelope" aria-hidden="true" ></span> 
										<span>{{item.contact.email | limitTo:item.size}}</span>
									</div>
									<div class="col-sm-12 contacts-companies" >
										<span class="glyphicon glyphicon-signal" aria-hidden="true" ng-hide="item.contact.fix_phone == null"></span> 
										<span ng-hide="item.contact.fix_phone == null">{{item.contact.fix_phone | limitTo:item.size}}</span>
										<span ng-hide="item.contact.fix_phone == null && item.contact.email == null"><button class="btn btn-ver-dados" ng-hide="item.size == 100" ng-click="item.size = 100; ga('VER DETALHES DO ' + item.name)">VER DADOS</button></span> 
									</div>
										
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer ng-include src="'app/views/footer/footer.html'"></footer>